
.post__input {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10cm;
    /* border-top-left-radius: 10px; */
}


.post__input form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post__input-form {
    width: 100%;
}

.post__input input {
    padding: 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    flex: 1;
    cursor: pointer;
}

.post__input:hover {
    background-color: #ddd;
}

.post__input:hover input {
    background-color: #ddd;
}