.postInput__container {
    background-color: white;
    padding: 15px 20px 0 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.post__input {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10cm;
}

.post__input:hover {
    background-color: #ddd;
}

.post__input form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.post__input-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.post__input-form > input[type="text"] {
    padding: 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    flex: 1;
    background-color: transparent;
}

.post__input-form:focus {
    background-color: #ddd;
}

.post__input-form input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.post__input-form label {
    font-weight: 700;
    color: #333;
    display: inline-block;
    cursor: pointer;
}
