.headerNav__container {
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #bbb;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* height: 55px; */
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 83%;
    height: 55px;
}

.headerNav__left {
    display: flex;
}

.headerNav__search {
    padding: 0 18px;
    display: flex;
    align-items: center;
    margin-left: 7px;
    height: 35px;
    max-width: 500px;
    border-radius: 5px;
    background-color: rgba(210, 223, 228, 0.46);
    color: #555;
}

.headerNav__searchIcon {
    height: 18px !important;
    width: 18px !important;
}

.headerNav__search input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 7px;
    background-color: transparent;
    color: #777;
    font-size: 14px;
    width: 100%;
}

.headerNav__search input:focus {
    padding-left: 15px;
    font-size: 16px;
    width: 320px;
    transition: 300ms;
}

.headerNav__right {
    display: flex;
    justify-content: space-between;
    height: inherit;
}

@media screen and (max-width: 1050px) {
    .headerNav__search input:focus {
        padding-left: 0;
        width: 30%;
    }
}