.headerTab {
    color: #666;
    text-align: center;
    display: block;
    cursor: pointer;
    height: 100%;
    width: calc(100%/7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.headerTab::after,
.headerTab:nth-child(1)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

.headerTab:hover:after,
.headerTab:nth-child(1)::after {
    background-color: #222;
}

.headerTab:nth-child(1) {
    color: rgb(18, 71, 111);
}

.headerTab p {
    font-size: 11px;
    font-weight: 400;
}

.headerTab__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.headerTab:nth-child(6) {
    border-right: 1px solid #ddd;
}

@media screen and (max-width: 1100px) {
    .headerTab p {
        display: none;
    }

    .headerTab {
        justify-content: center;
        padding: 0 5px;
    }
}