.widget {
    flex: 0.3;
    margin-top: 70px;
}

.widget__items {
    border: 1px solid #ccc;
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: #777;
}

.widget__items h3 {
    font-size: 16px;
}

.widget__items button {
    font-size: 12px;
    font-weight: 700;
    color: rgb(51, 108, 169);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 200ms ease-in-out;
    border: none;
    background-color: white;
}

.widget__items button:hover {
    background-color: rgb(205, 234, 245);  
}

.followSuggestions {
    display: flex;
    margin: 20px 0;
}

.followSuggestions__icon {
    cursor: pointer;
}

.followSuggestions__button {
    align-self: flex-start;
    flex: 0.3;
    color: rgb(28, 104, 186);
    font-weight: 700;
    border-radius: 20px !important;
    padding: 3px;
    border: 1px solid !important;
    background-color: white;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.followSuggestions__button:hover {
    background-color: rgb(212, 232, 240);
    border: 2px solid !important;
}

.followSuggestions__company {
    margin: 0 5px;
    margin-left: 10px;
    font-size: 11px;
    flex: 0.7;
    cursor: pointer;
}

.followSuggestions__company h2 {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.widget__adverts {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    position: sticky;
    top: 70px;
    /* width: max-content; */
}

.widget__adverts img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}